*{
    border: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    background: rgb(159, 207, 223);
}
nav{
    width: 1200px;
    height: 70px;
    background: white;
   border-radius: 9px;
}
.box{
    width: 1200px;
margin: 0 auto;
}
.shkmimg{
width: 70px;
height: 64px;
float: left;
margin-left: 10px;
}
.j{
    float: right;
    line-height: -20px;
}
header{
    background: linear-gradient(to right, blue, rgb(51, 253, 0));
    width: 1200px;
    height: 300px;
    border-radius: 15px;
    text-align: center;
    padding-top: 15px;
}
.shkm{
    width: 200px;
    height: 100px;
    float: left;
}
header h1{
    color: white;
}
.oo{
    text-align: center;
    color: white;
}
a{
    display: block;
    width: 110px;
    height: 30px;
    float: right;
    text-decoration: none;
    color: black;
    border-radius: 9px;
    text-align: center;
margin-top: 15px;
padding: 3px;
}
.gggg{
    width: 1200px;
    height: 200px;
   margin-top: 20px;
}
.ggggg{
    width: 200px;
    height: 130px;
    background: white;
    border-radius: 10px;
    float: left;
    margin-left: 20px;

}
.ggggg{
    width: 200px;
    height: 130px;
    background: white;
    border-radius: 10px;
    float: left;
    margin-left: 75px;
}
.pokoyo{
    color: black;
    text-align: center;
    
}
.pokoyoo{
    color: gray;
}
.peshka{
    color: black;

    font-size: 24px;
    margin-top: -1px;
}
.a5{
    display: block;
    margin: 0 auto;
    width: 250px;
    height: 35px;
    border-radius: 10px;
    color: blueviolet;
}
.aaa{
    display: block;
    width: 110px;
    height: 30px;
    background: rgb(225, 248, 255);
    color: blue;
    opacity: 67%;
    border: 1px solid gray;
}
.bbb{
    display: block;
    width: 110px;
    height: 30px;
    opacity: 67%;
    border: 1px solid gray;
    margin-left: 15px;
    float: right;
    border-radius: 7px;
        text-decoration: none;
        color: black;
        padding: 3px;
        margin-top: 15px;
        text-align: center;
        margin-right: 10px;
}
.ggggg2{
    width: 200px;
    height: 130px;
    background: white;
    border-radius: 10px;
    float: left;
    margin-left: 75px;

}
.ggggg3{
    width: 200px;
    height: 130px;
    background: white;
    border-radius: 10px;
    float: left;
    margin-left: 75px;

}
.ggggg4{
    width: 200px;
    height: 130px;
    background: white;
    border-radius: 10px;
    float: left;
    margin-left: 75px;
}
.peshkaa{
    color: white;
text-align: center;
    font-size: 24px;
}


.a67{
    width: 1200px;
    height: 700px;

}
.sectiondiv{
    width: 1100px;
    margin-left: 50px;
height: 250px;
    background: white;
    border-radius: 40px;
    padding-left: 5px;
}
span{
    font-weight: bold;
}
.a1488{

    text-align: center;
}
.sss{
    border-left: 3px solid blue;
    background: rgb(208, 239, 249);
    display: block;
    height: 40px;
    border-radius: 10px;
    width: 1050px;
    margin-left: 25px;
    line-height:40px ;
}
.sectionblock1{
    width: 300px;
    height:150px ;
    background: white;
    border-radius: 10px;
    margin-top: 25px;
    float:left;
    margin-left:75px;
    padding-left:10px;
}
.sectionblock2{
    width: 300px;
    height:150px ;
    background: white;
    border-radius: 10px;
    margin-top: 25px;
    float:left;
    margin-left:75px;
    padding-left:10px;
}
.sectionblock3{
    width: 300px;
    height:150px ;
    background: white;
    border-radius: 10px;
    margin-top: 25px;
    float:left;
    margin-left:75px;
    padding-left:10px;

}
.aa{
    text-align: center;
}
footer{
    width: 1200px;
    height: 150px;

    margin-top: 300px;
}
.aaaa{
    color: blue;
    text-align: center;
    margin-top: -15px;
}